*{
  text-transform: capitalize;
}
.btn {
  border-radius: 0px !important;
  background: #72B943;
  border: none
}
label{
  font-weight: 700
}
.input-field {
  position: relative;
  height: 44px;
  line-height: 44px;
}

.input-field label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
}

.input-field input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  border-bottom: 2px solid #d3d3d3;
}

input:focus,
input:valid {
  border-color: #72B943;
}

input:focus ~ label,
input:valid ~ label {
  top: -24px;
  color: #72B943;
}
 
.dropdown-edit .ui-dropdown {
  width: 100% !important;
  border: none;
  border-radius: 0%;
  border-bottom: 2px solid #d3d3d3;
 }
 body .ui-inputtext{
   border: none;
   border-bottom: 2px solid #d3d3d3;
   width: 100%
 }
 .ui-calendar{
   width: 100%
 }
 .status{
   margin-top: 7px
 }
 body .ui-fileupload .ui-fileupload-buttonbar, body .ui-fileupload .ui-fileupload-content{
   border: none;
 }
 .ui-fileupload button:nth-child(2){
   display: none;
 }
  .ui-fileupload-content {
  border: none;
  height: 100px;
  overflow: auto;
}