<div class="nav-side-menu col-xs-3">
        <div class="brand hidden-lg hidden-md hidden-sm visible-xs " >Advanced Search</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      
            <div class="menu-list">
      
                <ul id="menu-content" class="menu-content collapse out">
                    <li  data-toggle="collapse" data-target="#category" class="collapsed">
                      <label href="#"><i class="fa fa-gift fa-lg"></i> Category <span class="arrow"></span></label>
                    </li>
                    <ul class="sub-menu collapse in" id="category">
                        <li>
                            <p-checkbox name="groupname" value="val1"  label="Mobile" [(ngModel)]="selectedValues"></p-checkbox>
                        </li>
                        <li>
                            <p-checkbox name="groupname" value="val2"  label="Mobile" [(ngModel)]="selectedValues"></p-checkbox>
                        </li>
                         <li>
                            <p-checkbox name="groupname" value="val3"  label="Mobile" [(ngModel)]="selectedValues"></p-checkbox>
                        </li>
                    </ul>
    
    
                    <li data-toggle="collapse" data-target="#country" class="collapsed">
                      <label href="#"><i class="fa fa-globe fa-lg"></i> Countries <span class="arrow"></span></label>
                    </li>  
                    <ul class="sub-menu collapse in" id="country">
                        <li>
                            <p-checkbox name="groupname" value="val4"  label="KSA" [(ngModel)]="selectedValues"></p-checkbox>
                        </li>
                        <li>
                                <p-checkbox name="groupname" value="val5"  label="Egypt" [(ngModel)]="selectedValues"></p-checkbox>
                        </li>
                    </ul>
                </ul>
         </div>
    </div>
