<div class="col-md-9 col-xs-12">
  <!-- new deals -->
 <div class="row new-deal">
  <div class="col-xs-12">
    <h2>New Deals</h2>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 content-product ">
        <div class="blog-item rounded shadow">
            <a href="" class="blog-img">
                <img data-no-retina="" src="../../assets/img/bg-default.jpg" class="img-responsive" alt="...">
            </a>
            <div class="blog-details">
                <h4 class="blog-title"><a href="">House</a></h4>
                <ul class="blog-meta">
                    <li>By: <a href="">Hayat</a></li>
                    <li>05 10, 2018</li>
                    <li><a href="">Egypt</a></li>
                </ul><!-- /.blog-meta -->
                <br>
                <div class="blog-summary">
                    <p>Content post goes here ...</p>
                    <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#product">Read More</button>
                </div><!-- /.blog-summary -->
            </div><!-- /.blog-details -->
        </div><!-- /.blog-item -->
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 content-product">
        <div class="blog-item rounded shadow">
            <a href="" class="blog-img">
                <img data-no-retina="" src="../../assets/img/bg-default.jpg" class="img-responsive" alt="...">
            </a>
            <div class="blog-details">
                <h4 class="blog-title"><a href="">House</a></h4>
                <ul class="blog-meta">
                    <li>By: <a href="">Hayat</a></li>
                    <li>05 10, 2018</li>
                    <li><a href="">Egypt</a></li>
                </ul><!-- /.blog-meta -->
                <br>
                <div class="blog-summary">
                    <p>Content post goes here ...</p>
                    <button class="btn btn-sm btn-success">Read More</button>
                </div><!-- /.blog-summary -->
            </div><!-- /.blog-details -->
        </div><!-- /.blog-item -->
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 content-product">
        <div class="blog-item rounded shadow">
            <a href="" class="blog-img">
                <img data-no-retina="" src="../../assets/img/bg-default.jpg" class="img-responsive" alt="...">
            </a>
            <div class="blog-details">
                <h4 class="blog-title"><a href="">House</a></h4>
                <ul class="blog-meta">
                    <li>By: <a href="">Hayat</a></li>
                    <li>05 10, 2018</li>
                    <li><a href="">Egypt</a></li>
                </ul><!-- /.blog-meta -->
                <br>
                <div class="blog-summary">
                    <p>Content post goes here ...</p>
                    <button class="btn btn-sm btn-success">Read More</button>
                </div><!-- /.blog-summary -->
            </div><!-- /.blog-details -->
        </div><!-- /.blog-item -->
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 content-product">
        <div class="blog-item rounded shadow">
            <a href="" class="blog-img">
                <img data-no-retina="" src="../../assets/img/bg-default.jpg" class="img-responsive" alt="...">
            </a>
            <div class="blog-details">
                <h4 class="blog-title"><a href="">House</a></h4>
                <ul class="blog-meta">
                    <li>By: <a href="">Hayat</a></li>
                    <li>05 10, 2018</li>
                    <li><a href="">Egypt</a></li>
                </ul><!-- /.blog-meta -->
                <br>
                <div class="blog-summary">
                    <p>Content post goes here ...</p>
                    <button class="btn btn-sm btn-success">Read More</button>
                </div><!-- /.blog-summary -->
            </div><!-- /.blog-details -->
        </div><!-- /.blog-item -->
    </div>
   
<div class="col-xs-12">
<div class="col-center">
<button class="btn btn-success">Show More</button>
</div>
</div>
</div>
</div>

  <!-- Modal -->
  <div class="modal fade-scale" id="product" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>This is a large modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>